<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Post Templates</title>
    </head>
    <body>
        <!-- Post template, requires a post object in the angular scope -->
        <div class="fritter-post container-fluid" th:fragment="post">
            <div class="fritter-post-avatar col-md-1">
                <img th:src="@{/resources/images/Avatar.png}" class="avatar"/>
            </div>
            <div class="fritter-post-content well-sm col-md-11 container-fluid">
                <div class="fritter-post-details container-fluid">
                    <span class="col-md-5 fritter-post-displayname">
                        {{post.poster.displayName}}
                    </span>
                    <a class="small col-md-3 fritter-post-username" href="{{rootUrl}}user/{{post.poster.username}}">
                        {{post.poster.username}}
                    </a>
                    <span class="small col-4 fritter-post-postdate">
                        <a href="{{rootUrl}}post/{{post.id}}" am-time-ago="post.postDate">5m</a>
                    </span>
                </div>
                <div class="fritter-post-postcontent well-sm container-fluid">
                    <span class="">
                        {{post.content}}
                    </span>
                </div>
            </div>
        </div>
        <div th:fragment="pending-bar"
             class="fritter-post-container container-fluid"
             ng-show="inputViewModel.pending.length > 0">
            <div class="fritter-pending" 
                 ng-click="movePendingToPosts()">
                <span th:text="#{timeline.pendingPosts}">There are pending posts</span>
            </div>
        </div>
    </body>
</html>
