<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <body>
        <div th:fragment="profile-box (user)" class="profile-box">
            <div class="container-fluid col-md-4">
                <img th:src="@{/resources/images/Avatar.png}" class="avatar"/>
            </div>
            <div class="container-fluid col-md-8">
                <span th:text="${user.displayName}">Display name</span>
                <span th:text="${user.username}">Username</span>
            </div>
        </div>
    </body>
</html>
