<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      ng-app="timelineApp">
    <head>
        <title th:text="#{index.defaultTitle}">Title</title>
        <link rel="stylesheet" type="text/css" media="all"
              th:href="@{/resources/bootstrap/css/bootstrap.min.css}" />
        <link rel="stylesheet" type="text/css" media="all"
              th:href="@{/resources/css/fritter.css}" />
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    </head>
    <body>
        <div class="header" th:replace="templates/header :: header"></div>
        <div class="container col-md-8 col-md-offset-2" ng-controller="fritterApp">
            <div class="container-fluid">
                <div class="well-sm fritter-timeline container-fluid">
                    <div class="fritter-post-input-container container container-fluid">
                        <div class="fritter-post-avatar well-sm">
                            <!--<img th:src="@{/resources/images/Avatar.png}" class="avatar" />-->
                        </div>
                        <input 
                            class="fritter-post-input" 
                            ng-model="inputViewModel.postValue"
                            th:placeholder="#{timeline.postplaceholder}" 
                            />
                        <button class="fritter-button btn btn-default" type="button" 
                                ng-click="putPost()" th:text="#{timeline.postbutton}"/>
                    </div>
                    <div th:replace="templates/posts :: pending-bar" />
                    <div ng-repeat="post in inputViewModel.posts" class="container-fluid">
                        <div th:replace="templates/posts :: post" class="fritter-post" />
                    </div>
                </div>
            </div>
        </div>
        <div class="footer" th:replace="templates/footer :: footer"></div>
    </body>
</html>
